{{ define "content" }}
<main class="film-single-wrap">

  <h1 class="film-single-title">{{ .Title }}</h1>

  {{ with .Content }}
    <div class="film-single-intro">
      {{ . }}
    </div>
  {{ end }}

  <section class="film-single-grid">
{{ range .Resources.ByType "image" }}
  {{ $img := . }}
  {{ $display := $img.Resize "1600x" }}  <!-- 가로 1600px로, 비율 유지 -->
  <figure class="film-single-figure">
    <img src="{{ $display.RelPermalink }}" alt="" loading="lazy" decoding="async">
  </figure>
{{ end }}
  </section>

</main>
{{ end }}
