{{ define "content" }}
<main class="container" style="max-width:1200px;margin:0 auto;padding:40px 20px;">

  <h1 style="
    font-size:16px;
    font-weight:300;
    margin:40px 0 28px;
    letter-spacing: 1.5px;
    text-align: left;
    text-indent: 1.2em;
    color:#000;">{{ .Title }}
  </h1>

  {{ with .Content }}
    <div style="font-size:14px;color:#666;margin:0 0 24px;line-height:1.7;">
      {{ . }}
    </div>
  {{ end }}

  <ul style="list-style:none;padding:0;margin:0;">
    {{ range .Pages.ByDate.Reverse }}
      <li style="margin-bottom:12px;">

        <!-- 날짜 + 제목 전체를 한 개의 링크로 묶기 -->
        <a href="{{ .RelPermalink }}"
          style="display:flex;gap:12px;align-items:baseline;text-decoration:none;">

          <!-- 날짜 -->
          <span style="font-size:12px;color:#000;min-width:90px;">
            {{ .Date.Format "Jan 02, 2006" }}
          </span>

          <!-- 제목 -->
          <span style="font-size:12px;color:#000;font-weight:350;">
            {{ .Title }}
          </span>

        </a>

      </li>
    {{ end }}
  </ul>

</main>
{{ end }}
