{{ define "content" }}
  <main style="width:100%;min-height:80vh;display:flex;align-items:center;justify-content:center;">
    <div style="text-align:center">
      <img
        src="/images/main.jpg"
        alt="kimhyejin"
        style="max-width:300px;height:auto;border-radius:0;display:block;margin:0 auto 0px;"
      >

<h1 style="
  font-size: 15px;     /* ← 폰트 크기 */
  font-weight: 100;    /* ← 폰트 굵기 (100~900 중 숫자 작을수록 얇음) */
  color: #666;         /* ← 폰트 색상 */
  margin: 0;
">
</h1>
  
    </div>
  </main>
{{ end }}
