{{ define "content" }}
  <main style="width:100%;min-height:80vh;display:flex;align-items:center;justify-content:center;">
    <div style="text-align:center">
      


      <!-- ✨ 메인 화면 문구 (여기만 수정하면 됨) -->
      <h1 style="
        font-size: 10px;
        font-weight: 200;
        line-height: 1.6;
        color: #3d61ad;
        letter-spacing: 1.9px;
        margin-top: 0;
      ">
    <img src="/images/main7.jpg" alt="main"  width="auto"></br>
        </br>    
       </h1>
  <!-- 인스타그램 -->
      <p style="margin:0 0 6px 0;">
        <a href="https://instagram.com/hy_ennn" target="_blank"
   rel="noopener noreferrer"
           style="font-size: 12px;font-weight: 300;color:#3d61ad;text-decoration:none;">
          instagram@hy_ennn
        </a>
      </p>
    </div>
  </main>
{{ end }}
