{{ define "content" }}
<main class="photos-wrap">
  <!-- PHOTOS GRID | pages={{ len .RegularPages }} -->

  <!-- 섹션 제목 -->
  <h1 style="
      color: #000;
      font-size:12px;
      font-weight:300;
      line-height:1.5;
      letter-spacing:1.5px;
      text-align: left;
      text-indent: 1.2em; /* 원하는 만큼 조절 */
      margin:40px 0 28px;">
"엄마, 내 눈은 언제 하트로 변해요"
  </h1>


  <section class="photos-grid">
    {{ range .RegularPages.ByDate.Reverse }}
      {{ $img := or (.Resources.GetMatch "main.*") (index (.Resources.ByType "image") 0) }}
      {{ if $img }}
        {{ $thumb := $img.Fill "600x600 Center" }}
        <a class="ph-card" href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
          <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" loading="lazy" decoding="async">
        </a>
      {{ end }}
    {{ end }}
  </section>
</main>
{{ end }}
